# Exercício 02 – Manipulando dados com Pandas
#### a) Crie um programa em pandas para ler o arquivo em Excel imobiliária.xlsx
#### b) e coloque em um dataframe.
#### c) Visualize o cabeçalho dos dados;
#### d) Visualize as últimas linhas;
#### e) Escreva um programa para renomear o cabeçalho da tabela com os
#### f) seguintes nomes:

In [8]:
#A) importando arquivo
#B) Colocando em dataframe
#C) Visualizando o cabeçalho

import pandas as pd

caminho = "C:\\\\Users\\\\FIC\\\\Documents\\\\gabrielly_holanda_big_data\\\\Arquivos\\\\Imobiliária.xlsx"

df= pd.read_excel(caminho)

df.head(2)

,Coluna 1,Coluna 2,Coluna 3,Coluna 4,Coluna 5,Coluna 6,Coluna 7,Coluna 8,Coluna 8.1,Coluna 10
0,Centro,Simone,2005-10-08,Apartamento,102.5,2,2,Sim,235500,3532.5
1,Noroeste,Simone,2005-10-08,Apartamento,199.5,4,4,Não,377700,5665.5

In [9]:
#D) Visualizando o as últimas linhas
df.tail(2)

,Coluna 1,Coluna 2,Coluna 3,Coluna 4,Coluna 5,Coluna 6,Coluna 7,Coluna 8,Coluna 8.1,Coluna 10
1115,Leste,Simone,2011-03-27,Apartamento,42.0,1,1,Sim,167900,2518.5
1116,Oeste,Simone,2011-03-28,Apartamento,100.5,2,2,Sim,227600,3414.0

In [48]:
#E) Renomeando nome das colunas 

df.columns =[
    'Filial','Vendedor','Data','Tipo','Área (m²)','Dorms.','Garag.','Piscina','Preco','Comissao']

df.head()

,Filial,Vendedor,Data,Tipo,Área (m²),Dorms.,Garag.,Piscina,Preco,Comissao
0,Centro,Simone,2005-10-08,Apartamento,102.5,2,2,Sim,235500,3532.5
1,Noroeste,Simone,2005-10-08,Apartamento,199.5,4,4,Não,377700,5665.5
2,Norte,Roberto,2005-10-12,Casa,145.5,2,2,Não,232500,3487.5
3,Sudeste,Simone,2005-10-14,Apartamento,153.5,3,2,Não,289100,4336.5
4,Noroeste,Cristina,2005-10-16,Apartamento,93.0,2,2,Sim,235400,3531.0

In [11]:
#Outra forma:

headers=[
    'Filial','Vendedor','Data','Tipo','Área (m²)','Dorms.','Garag.','Piscina','Preco','Comissao']

df.columns= (headers)
df.head()

,Filial,Vendedor,Data,Tipo,Área (m²),Dorms.,Garag.,Piscina,Preco,Comissao
0,Centro,Simone,2005-10-08,Apartamento,102.5,2,2,Sim,235500,3532.5
1,Noroeste,Simone,2005-10-08,Apartamento,199.5,4,4,Não,377700,5665.5
2,Norte,Roberto,2005-10-12,Casa,145.5,2,2,Não,232500,3487.5
3,Sudeste,Simone,2005-10-14,Apartamento,153.5,3,2,Não,289100,4336.5
4,Noroeste,Cristina,2005-10-16,Apartamento,93.0,2,2,Sim,235400,3531.0

In [12]:
# G) Tipos de dados 
# H) Valores faltantes ou nulos
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1117 entries, 0 to 1116
Data columns (total 10 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Filial     1117 non-null   object
 1   Vendedor   1117 non-null   object
 2   Data       1117 non-null   datetime64[ns]
 3   Tipo       1117 non-null   object
 4   Área (m²)  1117 non-null   float64
 5   Dorms.     1117 non-null   int64
 6   Garag.     1117 non-null   int64
 7   Piscina    1117 non-null   object
 8   Preco      1117 non-null   int64
 9   Comissao   1117 non-null   float64
dtypes: datetime64[ns](1), float64(2), int64(3), object(4)
memory usage: 87.4+ KB

In [13]:
#H) modo, média, máximo, mínimo e contagem da coluna PREÇO

#SOMA
df['Preco'].sum ()

295035000

In [14]:
df['Preco'].mean()

264131.6025067144

In [15]:
df['Preco'].max()

384300

In [16]:
df['Preco'].min()

145100

In [17]:
df['Preco'].count()

1117

#### 8. Crie um programa para criar um dataframe para mostrar as vendas por região, e salvar um arquivo em Excel para cada região.

In [18]:
#Gerar um relatório de vendas da região CENTRO
# Filtrar os dados
df_final= df[df['Filial'] == 'Centro']

#Mapear o caminho final e definir um nome para o arquivo
caminho1= 'C:\\Users\\FIC\\Documents\\gabrielly_holanda_big_data\\Relatórios Filiais\\'
arquivo= 'centro.xlsx'

df_final.to_excel(caminho1 + arquivo)

# Aula 5

In [25]:
#Gerando um relatório de vendas da região noroeste
# Filtrar o Dataframe

df_final= df[df['Filial'] == 'Noroeste']

# Mapear o caminho final e definir um nome para o arquivo

caminho= 'C:\\Users\\FIC\\Documents\\gabrielly_holanda_big_data\\Relatórios Filiais\\'
arquivo = 'noroeste.xlsx'

# Salvar um arquivo em EXCEL

df_final.to_excel(caminho+arquivo)

In [23]:
#NORTE

df_final= df[df['Filial'] == 'Norte']

df_final.to_excel('C:\\Users\\FIC\\Documents\\gabrielly_holanda_big_data\\Relatórios Filiais\\'+'norte.xlsx')

In [26]:
#Sudeste

df_final= df[df['Filial']== 'Sudeste']

df_final.to_excel('C:\\Users\\FIC\\Documents\\gabrielly_holanda_big_data\\Relatórios Filiais\\'+'sudeste.xlsx')

In [27]:
#Oeste

df_final= df[df['Filial']== 'Oeste']

df_final.to_excel('C:\\Users\\FIC\\Documents\\gabrielly_holanda_big_data\\Relatórios Filiais\\'+'oeste.xlsx')

In [28]:
#Leste

df_final=df[df['Filial']== 'Leste']

df_final.to_excel('C:\\Users\\FIC\\Documents\\gabrielly_holanda_big_data\\Relatórios Filiais\\'+'leste.xlsx')

In [29]:
#Sudoeste

df_final=df[df['Filial']== 'Sudoeste']

df_final.to_excel('C:\\Users\\FIC\\Documents\\gabrielly_holanda_big_data\\Relatórios Filiais\\'+'sudoeste.xlsx')

In [30]:
#Sul

df_final=df[df['Filial']== 'Sul']

df_final.to_excel('C:\\Users\\FIC\\Documents\\gabrielly_holanda_big_data\\Relatórios Filiais\\'+'sul.xlsx')

In [31]:
#Nordeste

df_final= df[df['Filial']== 'Nordeste']

df_final.to_excel('C:\\Users\\FIC\\Documents\\gabrielly_holanda_big_data\\Relatórios Filiais\\'+'nordeste.xlsx')

### l) Gere um arquivo em Excel para representar as vendas efetuadas pela filial norte em 2010.

In [34]:
df_final= df[(df['Filial']=='Norte')&(df['Data']>='2010-01-01')&(df['Data']<= '2010-12-31')]

df_final.to_excel('C:\\Users\\FIC\\Documents\\gabrielly_holanda_big_data\\Relatórios Filiais\\'+'norte_2010.xlsx')

### m) Gere um arquivo em Excel para representar as vendas efetuadas pela filial Sudeste em 2010. Sendo que no relatório deve conter apenas vendas de casas sem garagem.

In [40]:
df_final=df[(df['Filial']== 'Sudeste')&
            (df['Data'] >='2010-01-01')&
            (df['Data']<= '2010-12-31')&
            (df['Tipo']== 'Casa')&
            (df['Garag.']== 0)]

caminho= 'C:\\Users\\FIC\\Documents\\gabrielly_holanda_big_data\\Relatórios Filiais\\'
arquivo= 'Sudeste_2010_Casas_semgaragem.xlsx'

#Salvando sem ID
df_final.to_excel(caminho+arquivo,index=False)

### n) Qual o valor máximo de comissão que a imobiliária numa venda?

In [50]:
df['Comissao'].max()

5764.5

In [49]:
df_final= df[df['Comissao']==df['Comissao'].max()]

caminho= 'C:\\Users\\FIC\\Documents\\gabrielly_holanda_big_data\\Relatórios Filiais\\'
arquivo= 'Valor_Max_Comissao.xlsx'

#Salvando sem ID
df_final.to_excel(caminho+arquivo,index=False)

In [51]:
df[df['Comissao']== 5764.5]

,Filial,Vendedor,Data,Tipo,Área (m²),Dorms.,Garag.,Piscina,Preco,Comissao
848,Sul,Adriana,2009-12-27,Apartamento,188.5,4,4,Sim,384300,5764.5

### o) Quantas casas de 2 ou 3 dormitórios foram vendidas pelo Ricardo antes de 2011.

In [64]:
df_final=df[(df['Vendedor']=='Ricardo')&
            (df['Data']<'2011-01-01')&
            (df['Tipo']=='Casa')&
            ((df['Dorms.']==3)|
            (df['Dorms.']==4))
            ]

caminho= 'C:\\Users\\FIC\\Documents\\gabrielly_holanda_big_data\\Relatórios Filiais\\'
arquivo= 'Casas_2_e_3dorm_Ricardo_2011.xlsx'

df_final.to_excel(caminho+arquivo,index=False)

In [69]:
#Executando apenas no DataFrame

df[(df['Vendedor']=='Ricardo')&
            (df['Data']<'2011-01-01')&
            (df['Tipo']=='Casa')&
            ((df['Dorms.']==3)|(df['Dorms.']==4))
            ]

,Filial,Vendedor,Data,Tipo,Área (m²),Dorms.,Garag.,Piscina,Preco,Comissao
52,Centro,Ricardo,2006-01-09,Casa,218.5,4,3,Não,372200,5583.0
60,Sudoeste,Ricardo,2006-01-18,Casa,207.5,4,3,Não,356500,5347.5
82,Norte,Ricardo,2006-02-28,Casa,153.0,3,3,Sim,298700,4480.5
83,Centro,Ricardo,2006-03-02,Casa,189.0,4,2,Não,367000,5505.0
92,Sudoeste,Ricardo,2006-03-22,Casa,194.0,4,4,Sim,367600,5514.0
100,Oeste,Ricardo,2006-04-08,Casa,146.5,3,3,Sim,298300,4474.5
142,Sudoeste,Ricardo,2006-06-22,Casa,169.0,4,3,Sim,366200,5493.0
170,Oeste,Ricardo,2006-07-25,Casa,220.0,4,2,Não,354800,5322.0
184,Leste,Ricardo,2006-08-30,Casa,144.5,3,3,Não,307800,4617.0
200,Noroeste,Ricardo,2006-09-25,Casa,148.5,3,3,Não,297000,4455.0
206,Sul,Ricardo,2006-10-02,Casa,185.0,3,2,Não,287900,4318.5
214,Leste,Ricardo,2006-10-16,Casa,149.5,3,3,Não,299600,4494.0
222,Oeste,Ricardo,2006-10-26,Casa,195.5,4,4,Não,376600,5649.0
223,Sudeste,Ricardo,2006-10-27,Casa,188.5,4,3,Não,355700,5335.5
232,Leste,Ricardo,2006-11-12,Casa,213.0,4,2,Não,369400,5541.0
292,Sudoeste,Ricardo,2007-03-01,Casa,160.0,3,1,Sim,286600,4299.0
300,Sudeste,Ricardo,2007-03-25,Casa,149.0,3,1,Sim,287000,4305.0
330,Sul,Ricardo,2007-04-28,Casa,152.5,3,1,Não,293000,4395.0
401,Leste,Ricardo,2007-09-02,Casa,208.0,4,2,Não,357900,5368.5
426,Nordeste,Ricardo,2007-10-09,Casa,183.0,4,4,Sim,367400,5511.0
443,Noroeste,Ricardo,2007-10-28,Casa,162.5,3,3,Sim,300600,4509.0
449,Centro,Ricardo,2007-11-10,Casa,159.5,3,1,Não,281200,4218.0
456,Sudeste,Ricardo,2007-11-23,Casa,225.0,4,2,Não,356800,5352.0
507,Noroeste,Ricardo,2008-02-17,Casa,184.0,4,2,Não,351900,5278.5
518,Sudeste,Ricardo,2008-03-07,Casa,172.5,3,2,Não,304400,4566.0
543,Noroeste,Ricardo,2008-05-15,Casa,136.5,3,1,Não,299500,4492.5
544,Centro,Ricardo,2008-05-16,Casa,233.5,4,4,Não,373200,5598.0
551,Sudeste,Ricardo,2008-05-28,Casa,195.0,4,2,Não,367900,5518.5
555,Sul,Ricardo,2008-05-30,Casa,225.5,4,2,Não,369800,5547.0
559,Sul,Ricardo,2008-06-09,Casa,186.5,4,2,Não,364500,5467.5
569,Sudeste,Ricardo,2008-06-25,Casa,156.5,3,2,Não,299000,4485.0
575,Leste,Ricardo,2008-06-30,Casa,205.5,4,2,Não,369800,5547.0
578,Nordeste,Ricardo,2008-07-05,Casa,216.5,4,2,Sim,356000,5340.0
583,Sudeste,Ricardo,2008-07-16,Casa,121.0,3,2,Sim,306100,4591.5
610,Centro,Ricardo,2008-09-06,Casa,222.5,4,3,Não,373500,5602.5
639,Oeste,Ricardo,2008-10-29,Casa,200.0,4,4,Não,361200,5418.0
643,Oeste,Ricardo,2008-11-03,Casa,221.0,4,4,Sim,384000,5760.0
659,Oeste,Ricardo,2008-11-27,Casa,185.5,3,2,Não,291100,4366.5
662,Noroeste,Ricardo,2008-12-01,Casa,189.5,3,3,Sim,301700,4525.5
684,Centro,Ricardo,2009-01-14,Casa,223.0,4,3,Não,355900,5338.5
692,Oeste,Ricardo,2009-02-13,Casa,135.0,3,3,Sim,296400,4446.0
707,Norte,Ricardo,2009-03-27,Casa,170.0,3,1,Não,296100,4441.5
710,Sudeste,Ricardo,2009-04-01,Casa,178.0,3,3,Não,295900,4438.5
715,Norte,Ricardo,2009-04-14,Casa,154.5,3,1,Não,283500,4252.5
802,Sul,Ricardo,2009-10-01,Casa,201.0,4,4,Não,367600,5514.0
805,Centro,Ricardo,2009-10-07,Casa,215.5,4,3,Não,370700,5560.5
833,Norte,Ricardo,2009-11-25,Casa,160.5,3,2,Sim,292300,4384.5
892,Oeste,Ricardo,2010-03-03,Casa,162.5,3,3,Sim,297200,4458.0
899,Sudoeste,Ricardo,2010-03-12,Casa,175.0,4,2,Sim,364300,5464.5
968,Noroeste,Ricardo,2010-07-07,Casa,196.5,3,3,Não,300700,4510.5
993,Sudeste,Ricardo,2010-08-21,Casa,166.5,4,4,Não,375900,5638.5
1005,Norte,Ricardo,2010-09-13,Casa,169.5,4,2,Não,360000,5400.0
1007,Leste,Ricardo,2010-09-15,Casa,167.5,3,2,Não,301700,4525.5
1023,Norte,Ricardo,2010-10-07,Casa,138.5,3,1,Sim,300800,4512.0
1050,Sudoeste,Ricardo,2010-12-11,Casa,181.5,4,4,Não,379400,5691.0